.container.u-margin-bottom-xl{style: "background: url(/images/home/home-particles-3.svg) 55% 20% no-repeat;"}
  .col-6-md
    %img{:src => "/images/home/illustrations_gitlab_logo.svg", :style => "display: block; margin: auto;"}
    %h1.text-center.u-margin-top-xs{:style => "font-weight: 400; margin: 0;"} Free GitLab trial
    %p.text-center Unlimited access to all features for 30 days.
    .buttons-container.hero-item.u-margin-top-sm.u-margin-bottom-sm.text-center{:style => "min-width: 100%;"}
      = link_to "/free-trial/", class: "btn cta-btn orange-light", style: "margin-right: 15px;" do
        Start your free trial
      = link_to "/sales/", class: "btn cta-btn", style: "color: #333; border-color: #333;" do
        Contact Sales

